body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancefloor{
  display:flex;
  flex-wrap: wrap;
}

.dancer{
  /* border:10px solid blue; */
  /* background-color: lightslategrey; */
  border-radius:10px;
  position:absolute;
}

.blinky{
  animation: shake 1s;
}

.pop{
  border:10px solid pink;
  border-radius:10px;
  position: absolute;
}

.dance-king{
  display: none;
}
.dance-king:hover {
  border:10px solid green;
  border-radius: 0px;
  transform: rotate(45deg);
  display:show;
}

.spinny {
  border: 2px solid orange;
  border-radius: 0px;
  position: absolute;
  transform: rotate(-45deg);
  animation: flash 1s;
}

.happy :first-child{
  position: absolute;
  animation: grow 1s;
}

@keyframes flash {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

@keyframes shake {
  10%, 90% {transform: translate3d(-1px, 0, 0);}
  20%, 80% {transform: translate3d(2px, 0, 0);}
  30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
  40%, 60% {transform: translate3d(4px, 0, 0);}
}

@keyframes grow {
  0%, 100%    {width: 50px;}
  20%, 80%   {width: 60px;}
  40%, 60%   {width: 70px;}
}